body {
	background-color: aliceblue;
	margin: 100px;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: slategrey;
}
h1 {
	text-align: center;
	font-size: 100px;
	margin-top: 300px;
}
h2 {
	text-align: center;
	font-size: 50px;
}
a {
	text-decoration: none;
}
a:link {
	color: skyblue;
}
a:visited {
	color: cornflowerblue;
}
a:hover {
	color: lightskyblue;
}