body {
	margin: 0;
}
.red {
	background-color: tomato;
	width: 100px;
	height: 100px;
	float: left;
}
.black {
	background-color: #222222;
	width: 100px;
	height: 100px;
	float: left;
}
.board {
	width: 800px;
	margin: 100px auto;
}
/*second layout*/
#container {
	width: 950px;
	display: flow-root;
	margin: 100px auto;
/*	background-color: black;*/
}
header {
	height: 150px;
	width: 100%;
	margin-bottom: 25px;
	background-color: tomato;
}
nav {
	height: 50px;
	width: 100%;
	margin-bottom: 25px;
	background-color: tomato;
}
.col {
	width: 300px;
	height: 800px;
	float: left;
	background-color: tomato;
}
.center {
	width: 300px;
	height: 800px;
	background-color: tomato;
	float: left;
	margin: 0 25px;
}
footer {
	margin-top: 25px;
	height: 150px;
	width: 100%;
	background-color: tomato;
	float: left;
}
/*******blog layout*******/
#container2 {
	width: 1025px;
	display: flow-root;
	margin: 100px auto;
}
.header2 {
	width: 100%;
	height: 200px;
}
.pic {
	width: 750px;
	height: 500px;
	margin-right: 25px;
	margin-top: 100px;
	float: left;
	background-color: tomato;
}
.minipic {
	width: 250px;
	height: 300px;
	float: left;
	background-color: tomato;
	margin-top: 100px;
}
.container3 {
	width: 750px;
	display: flow-root;
}
.subtext {
	width: 750px;
	height: 50px;
	background-color: tomato;
	margin-top: 25px;
}
/*******tennis court*******/
#tenniscontainer {
	width: 1320px;
	height: 1500px;
	display: flow-root;
	margin: 100px auto;
/*	background-color: lightyellow;*/
}
/*top half*/
.topcontainer {
	width: 100%;
/*	height: 500px;*/
	display: flow-root;
/*	background-color: black;*/
}
.secondcontainer {
	width: 100%;
	display: flow-root;
/*	background-color: blueviolet;*/
}
.longrect-1 {
	width: 200px;
	height: 300px;
	background-color: tomato;
	float: left;
}
.horzrect {
	width: 905px;
	height: 300px;
	float: left;
	background-color: tomato;
	margin-left: 5px;
	margin-right: 5px;
}
.tennissquare {
	width: 450px;
	height: 450px;
	background-color: tomato;
	float: left;
	margin: 5px 5px 5px 0;
}
.longrect-2 {
	width: 200px;
	height: 455px;
	background-color: tomato;
	float: left;
	margin: 0 5px 5px 0;
}
/***bottom half***/
.bottomcontainer {
	width: 100%;
	display: flow-root;
/*	background-color: greenyellow;*/
}
.fourthcontainer {
	width: 100%;
	display: flow-root;
/*	background-color: darkgrey;*/
}
.bottomlongrect-2 {
	width: 200px;
	height: 455px;
	background-color: tomato;
	float: left;
	margin: 0 5px 0 0;
}
.bottomtennissquare-3 {
	width: 450px;
	height: 450px;
	background-color: tomato;
	float: left;
	margin: 0 5px 0px 0;
}
/*********California Case*********/
#wholecontainer {
	width: 1430px;
/*	width: 100%;*/
	height: 770px;
	background-color: blueviolet;
	margin: 100px auto;
}
/*.wholecontainer {
	width: 100%;
	height: 100px;
	display: flow-root;
	background-color: blueviolet;
}*/
.thirdcontainter {
	width: 445px;
	height: 700px;
	float: left;
	background-color: white;
	margin: 15px;
	/*border-style: solid;
	border-color: white;
	border-width: 5px;*/
}
.smallrectangle {
	width: 50px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 5px;
}
.smallrectangle-m {
	width: 50px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 5px 5px 5px 0;
}
.smallrectangle-m-notstarterrow {
	width: 50px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 5px 0;
}
.biggestrect {
	width: 105px;
	height: 105px;
	float: left;
	background-color: blueviolet;
	margin-top: 5px;
}
.rows {
	width: 100%;
	height: 105px;
	display: flow-root;
	background-color: white;
}
.smallrectangle-r2 {
	width: 50px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px;
}
.medrectangle {
	width: 50px;
	height: 105px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0 0;
}
.largerect {
	width: 105px;
	height: 105px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0 0;
}
.midbigrect {
	width: 105px;
	height: 105px;
	float: left;
	background-color: blueviolet;
}
.medrectangle-2 {
	width: 50px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0 0;
}
.largerect-2 {
	width: 105px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0 0;
}
.biggestrect-3 {
	width: 105px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0 0;
}
.secondlargerect{
	width: 105px;
	height: 105px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0;
}
.secondlargerect-m {
	width: 105px;
	height: 105px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 0 0
}
.starterrow {
	width: 100%;
	height: 110px;
	display: flow-root;
	background-color: white;
}
.startrowlargerect-2 {
	width: 105px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px
}
.startofrowsmallrectangle-notstarterrow {
	width: 50px;
	height: 100px;
	background-color: blueviolet;
	float: left;
	margin: 0 5px 5px 5px;
}