body {
	margin: 144px;
	margin-top: 200px;
	margin-right: 300px;
	margin-right: 450px;
	background-color: #E64B4B;
	color: white;
}
h1, h2, h3 {
	font-family: rockwell-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	line-height: 34px;
}
.title {
	font-size: 96px;
	line-height: 100px;
	letter-spacing: 2px;
}
.memo {
	font-family: rockwell-nova, sans-serif;
	font-weight: 200;
	font-style: italic;
}
p, ul, li {
	font-family: "raleway", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	margin-right: 300px;
}
.size {
	font-size: 24px;
	letter-spacing: 1px;
}
.bold {
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.color-word {
	color: darkblue;
}