body {
	margin: 144px;
	margin-top: 144+72px;
	background-color: #E64B4B;
	color: white;
}

h1, h2, h3 {
	font-family: rockwell-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.title {
	font-size: 84px;
	line-height: 88px;
	letter-spacing: 2px;
}

.memo {
	font-family: rockwell-nova, sans-serif;
	font-weight: 200;
	font-style: italic;
}

p, ul, li {
	font-family: "raleway", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.size {
	font-size: 20px;
	letter-spacing: 1px;
}

.bold {
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.color-word {
	color: yellow;
}